/* <link rel="stylesheet" href="css/main_styles.css" /> */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Bold.woff2') format('woff2'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.fontfam-hn-bold {
    font-family: var(--font-family-one);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Medium.eot');
    src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Medium.woff2') format('woff2'), url('fonts/HelveticaNeue-Medium.woff') format('woff'), url('fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.fontfam-hn-medium {
    font-family: var(--font-family-one);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.eot');
    src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue.woff2') format('woff2'), url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fontfam-hn-regular {
    font-family: var(--font-family-one);
    font-weight: normal !important;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/NeueMachina-Medium.eot');
    src: url('fonts/NeueMachina-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/NeueMachina-Medium.woff2') format('woff2'), url('fonts/NeueMachina-Medium.woff') format('woff'), url('fonts/NeueMachina-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.fontfam-nm-medium {
    font-family: var(--font-family-two);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/NeueMachina-Bold.eot');
    src: url('fonts/NeueMachina-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/NeueMachina-Bold.woff2') format('woff2'), url('fonts/NeueMachina-Bold.woff') format('woff'), url('fonts/NeueMachina-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.fontfam-nm-bold {
    font-family: var(--font-family-two);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('fonts/NeueMachina-Regular.eot');
    src: url('fonts/NeueMachina-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/NeueMachina-Regular.woff2') format('woff2'), url('fonts/NeueMachina-Regular.woff') format('woff'), url('fonts/NeueMachina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fontfam-nm-regular {
    font-family: var(--font-family-two);
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
}

:root {
    --sidebar-width: 260px;
    --gray-light: #f9f9f9;
    --gray-dark: #ececf1;
    --border-color: #d9d9e35a;
    --main-bg: #ffffff;
    --primary: #10a37f;
    --text: #4a4a4a;
    --hover-bg: #e5e5e5;

    --maintopbar-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--main-bg);
    color: var(--text);
    display: flex;
}

.line-height-0 {
    line-height: 0;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--gray-light);
    border-right: 1px solid #d9d9e378;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar.mobile-hidden {
    transform: translateX(-100%);
}

.sidebar-header {
    height: var(--maintopbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* border-bottom: 1px solid var(--border-color); */
}

.sidebar-header .logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.sidebar-header .logo img {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .logo span {
    display: none;
}

.sidebar.collapsed .logo img {
    opacity: 0;
    pointer-events: none;
}

.sidebar-header .collapse-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text);
}

.sidebar .menu,
.sidebar .chats {
    padding: 0 1rem;
}

.sidebar.collapsed .menu-item,
.sidebar.collapsed .chat-item,
.sidebar.collapsed .menu-title,
.sidebar.collapsed .chat-title,
.sidebar.collapsed .upgrade {
    display: none !important;
}

.sidebar.collapsed .menu-item.new-chat {
    display: block !important;
}

.sidebar.collapsed .menu-item.new-chat>span {
    display: none !important;
}

.sidebar .menu-item,
.sidebar .chat-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem 0.5rem 0rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text);
}

.sidebar .menu-item:hover,
.sidebar .chat-item:hover {
    /* background-color: var(--hover-bg); */
}

.sidebar .menu-item.upload-block:hover {
    background: none;
}

.sidebar .menu-title,
.sidebar .chat-title {
    padding: 0.75rem 1rem 0.25rem;
    font-size: 0.75rem;
    color: #8e8ea0;
    font-weight: 400;
    font-size: 16px;
    /* text-transform: uppercase; */
}

.sidebar .upgrade {
    margin-top: auto;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    border-top: 1px solid var(--border-color);
    background-color: var(--gray-light);
    color: var(--primary);
    font-weight: 600;
}

.main {
    --chat__input__container-height: 100px;
    --chat__messages_block-height: calc(100vh - var(--maintopbar-height) - var(--chat__input__container-height) - 30px);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    padding: 0;
    position: relative;
}

.main__topbar,
.main__chat__content,
.input__prompt__area {
    display: flex;
    width: 100%;
}

.main__topbar {
    height: var(--maintopbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.main__topbar__icons {
    display: flex;
    gap: 30px;
}

.nav__volume,
.nav__settings {
    display: inline-block;
    padding: 8px;
}

.main__chat__content {
    height: calc(100vh - var(--maintopbar-height));
    background: url(../images/ai-records-left-top-new.svg) no-repeat left bottom, url(../images/ai-records-right-top-new.svg) no-repeat right top;;
}

.chat__messages_block {
    height: var(--chat__messages_block-height);
}

.chat__input__container {
    height: var(--chat__input__container-height);
}

.input__prompt__area {
    position: relative;
    width: 100%;
    border: 1px solid #d9d9e3ae;
    border-radius: 24px;
    background-color: #f9f9f95b;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.main .input__prompt__area h1 {
    position: absolute;
    font-size: 1.5rem;
    margin-top: -100px;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 600px;
    /* color: #000000; */
}

.chat__input__box {
    height: calc(var(--chat__input__container-height) / 2);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    transition: all 0.3s ease;
}

.chat__input__box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text);
    background: transparent;
    font-size: 16px;
}

.chat__input__box .icon {
    font-size: 1rem;
    color: #8e8ea0;
    cursor: pointer;
}

.input__tools__block {
    height: calc(var(--chat__input__container-height) / 2);
}

.border-0 {
    border: none !important;
}

.bg-none {
    background: none !important;
}

.sidebar__recent-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #5555558b;
    margin-bottom: 4px;
}

.chat__drag-box {
    border: 2px dashed #ccc;
    border-radius: 0.75rem;
    padding: 2rem;
    text-align: center;
    color: var(--aida-muted);
    background-color: #ffffff;
    font-size: 14px;
    position: relative;
}

.chat__drag-box i {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
}

.chat__drag-box input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload__files {
    width: 100%;
    padding: 8px 14px;
    border: 1px solid #ccc;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.upload__files .chat__file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.chat__container {
    margin-top: auto;
    margin-bottom: auto;
}

.chat__container.chat-started {
    margin-top: unset;
    margin-bottom: unset;
    position: relative;
}

.chat__container .chat__messages_block {
    display: none;
}

.chat__container.chat-started .chat__messages_block {
    display: block;
    overflow-y: auto;
}

.chat__container .chat__input__container {
    margin-top: -60px;
}

.chat__container.chat-started .chat__input__container {
    margin-top: 0px !important;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.chat__container.chat-started .input__prompt__area h1 {
    display: none;
}

/* Info:< chat styles */

/* Chat Area Styling */
.chat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Chat Rows */
.chat__row {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.chat__row--bot {
    flex-direction: row;
}

.chat__row--user {
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
}

/* Chat Bubbles */
.chat__bubble {
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.6;
}

.chat__bubble--bot {
    /* background-color: #f1f1f1; */
    /* color: #333; */
    position: relative;
}

.chat__bubble--user {
    background-color: #f1f1f1;
    color: #4a4a4a;
}

/* Avatar for Bot */
.chat__avatar {
    background: url(../images/aida_logo.svg) no-repeat center center;
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    flex-shrink: 0;
}

.chat__avatar.user {
    font-size: 20px;
    /* background: none; */
    /* border: solid 1px black; */
}

.chat__avatar i {
    visibility: hidden;
}

.chat__avatar.user i {
    visibility: visible;
    color: black;
}


.bot__response {
    display: flex;
    flex: 1;
}

.get-answer-block--actions---bottom {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: -32px;
    left: 0;
}

.get-answer-block--actions---bottom {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: -32px;
    left: 0;
}

.get-answer-block--actions---bottom button,
.get-answer-block--actions---bottom i {
    color: darkgrey;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .33px;
    text-align: center;
}

button.action-30 {
    width: 30px;
    height: 30px;
}
.rounded__bg{
        display: inline-flex;
    background: #00000014;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.submit__plane{
    display: inline-block;
    background: #00000014;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 0;
    text-align: center;
}
/* Info:> chat styles */
@media (max-width: 768px) {

    html,
    body {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        transform: translateX(0);
    }

    .sidebar.mobile-hidden {
        transform: translateX(-100%);
    }

    .main {
        padding: 0 1rem 1rem 1rem;
    }

    .main__topbar {
        padding-left: 0;
        padding-right: 0;
    }

    .chat__input__box {
        flex-direction: column;
        gap: 0.5rem;
    }

    .chat__input__box input {
        width: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.007);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8888883d;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555a2;
}